name: Build and deploy Java project to Azure Function App - testServerless

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: testServerless
  PACKAGE_DIRECTORY: '.'
  JAVA_VERSION: '17'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_637DE34528514CC0B078B73031A10308 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4FED3929E24A4D35A7D33EE117A9D497 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2FC9AD36D5A94F27825347AC998D68F2 }}

      - name: Deploy Azure Function
        uses: Azure/functions-action@v1
        with:
          app-name: testServerless
          package: '.'
          respect-pom-xml: true
